<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script src="https://cdn.tailwindcss.com"></script>

<h1 class='view-titles'>Your Profile Recipes</h1>

<nav class="nav-bar">
    <a href="/profile/create"><button class="nav-button" id="profile">Add New Recipe</button></a>
</nav>


{{#if none}}
<p>You have not created any recipes yet!</p>
{{/if}}


{{#if deleted}}
<br>
<p>RECIPE WAS DELETED</p>
{{/if}}

{{#each recipes as |recipe| }}
<div class="card">
    <div class="cocktail-name">
        <div>
            <a href="/profile/update/{{recipe.id}}">
                <h1 class="card-heading">{{recipe.strDrink}}</h1>
            </a>
        </div>
    </div>

    <!-- section of the card that holds the image, button, and recipe -->
    <div class="cocktail-ingredients">
        <div class="cocktail-image">
            <img src="./images/martini_glass.jpeg" alt="{{this.strDrink}}">
        </div>

        <h2 class="card-heading">Ingredients</h2>
        <ul class="list-group list-group-flush">
            <!-- Iterate over ingredients and measures -->
            {{#each recipe.ingredients as |ingredient|}}
            <li class="list-group-item align-amounts-right">{{ingredient.name}}{{#if
                ingredient.recipes_ingredients.amount}}:{{/if}} <span
                    class="amounts">{{ingredient.recipes_ingredients.amount}}</span></li>
            {{/each}}
        </ul>

        <h2 class="card-heading">Recipe</h2>
        <p class="recipe">{{recipe.description}}</p>
        <div class="flex items-center">
            <button class="add-to-cart-btn add-to-bar" data-id="{{recipe.id}}">Add To My Bar</button>

            <div
                class="like-btn flex items-center justify-center w-12 h-12 rounded-full bg-gray-200 cursor-pointer transition duration-300 ease-in-out">
                <i class="fas fa-thumbs-up text-gray-500 text-xl" data-id="{{recipe.id}}">
                </i>
            </div>
        </div>
    </div>



    <div>
    </div>

</div>
{{/each}}

<script src="/js/liked.js"></script>
<script src="/js/cart.js"></script>